<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.AssassinG.scsycc.entitys.User.dao.RoleDaoImpl">

    <!-- 用户信息表 -->
    <sql id="t_role"> t_role </sql>

    <resultMap id="beanMap" type="Role">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="role_name" property="RoleName" />
        <result column="role_desc" property="RoleDesc" />
        <result column="superrole_name" property="SuperRoleName" />
    </resultMap>

    <insert id="insert" parameterType="Role" keyProperty="id" useGeneratedKeys="true">
        insert into <include refid="t_role"/> (create_time, update_time, delete_time, is_deleted, role_name, role_desc, superrole_name)
        values (now(), now(), NULL, FALSE, #{RoleName}, #{RoleDesc}, #{SuperRoleName})
    </insert>

    <insert id="batchInsert" parameterType="List" keyProperty="id" useGeneratedKeys="true">
        insert into <include refid="t_role"/> (create_time, update_time, delete_time, is_deleted, role_name, role_desc, superrole_name)
        values
        <foreach collection="list" item="obj" separator=",">
            (now(), now(), NULL, FALSE, #{obj.RoleName}, #{obj.RoleDesc}, #{obj.SuperRoleName})
        </foreach>
    </insert>

    <update id="update" parameterType="Role">
        update <include refid="t_role"/>
        <set>
            update_time = now(),
            role_name =  #{RoleName},
            role_desc = #{RoleDesc}
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

    <update id="batchUpdate" parameterType="List">
        update <include refid="t_role"/>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="list" item="item">
                    when id=#{item.id} then now()
                </foreach>
            </trim>
            <trim prefix="role_name =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.RoleName!=null">
                        when id=#{item.id} then #{item.RoleName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="role_desc =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.RoleDesc!=null">
                        when id=#{item.id} then #{item.RoleDesc}
                    </if>
                </foreach>
            </trim>
            <trim prefix="superrole_name =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.SuperRoleName!=null">
                        when id=#{item.id} then #{item.SuperRoleName}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="list" separator="or" item="item">
                id=#{item.id}
            </foreach>
        </where>
    </update>

    <update id="delete" parameterType="Role">
        update <include refid="t_role"/>
        <set>
            delete_time = now(),
            update_time = now(),
            is_deleted =  true
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

    <update id="deleteById" parameterType="long">
        update <include refid="t_role"/>
        <set>
            delete_time = now(),
            update_time = now(),
            is_deleted =  true
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

    <select id="getById" parameterType="long" resultMap="beanMap">
        select * from <include refid="t_role"/> where id = #{id}
    </select>

    <select id="listAll" resultMap="beanMap">
        select * from <include refid="t_role"/> order by id asc
    </select>

    <select id="listByUserId" parameterType="long" resultMap="beanMap">
        SELECT r.*
        FROM t_role r
        LEFT JOIN t_user_role ur ON (ur.user_id = #{id})
        WHERE r.id = ur.role_id
    </select>

    <select id="listByUsername" parameterType="string" resultMap="beanMap">
        SELECT r.*
        FROM t_role r
        LEFT JOIN t_user u ON (u.user_name = #{username})
        LEFT JOIN t_user_role ur ON (ur.user_id = u.id)
        WHERE r.id = ur.role_id
    </select>

    <sql id="condition_sql_nolike">
        <!-- Equal query -->
        <if test="createTimeBegin != null"> and create_time &gt;= #{createTimeBegin}</if>
        <if test="createTimeEnd != null"> and create_time &lt;= #{createTimeEnd}</if>
        <if test="updateTimeBegin != null"> and update_time &gt;= #{updateTimeBegin}</if>
        <if test="updateTimeEnd != null"> and update_time &lt;= #{updateTimeEnd}</if>
        <if test="deleteTimeBegin != null"> and delete_time &gt;= #{deleteTimeBegin}</if>
        <if test="deleteTimeEnd != null"> and delete_time &lt;= #{deleteTimeEnd}</if>
        <if test="isDeleted != null"> and is_deleted = #{isDeleted}</if>
        <if test="RoleName != null"> and role_name = #{RoleName}</if>
        <if test="RoleDesc != null"> and role_desc = #{RoleDesc}</if>
        <if test="SuperRoleName != null"> and superrole_name = #{SuperRoleName}</if>
        <!-- Like query -->
        <!--<if test="RoleName != null and RoleName != ''"> and role_name like CONCAT(CONCAT('%', #{RoleName}), '%')</if>-->
        <!--<if test="RoleDesc != null and RoleDesc != ''"> and role_desc like CONCAT(CONCAT('%', #{RoleDesc}), '%')</if>-->
        <!--<if test="SuperRoleName != null and SuperRoleName != ''"> and superrole_name like CONCAT(CONCAT('%', #{SuperRoleName}), '%')</if>-->
    </sql>

    <sql id="condition_sql_like">
        <!-- Equal query -->
        <if test="createTimeBegin != null"> and create_time &gt;= #{createTimeBegin}</if>
        <if test="createTimeEnd != null"> and create_time &lt;= #{createTimeEnd}</if>
        <if test="updateTimeBegin != null"> and update_time &gt;= #{updateTimeBegin}</if>
        <if test="updateTimeEnd != null"> and update_time &lt;= #{updateTimeEnd}</if>
        <if test="deleteTimeBegin != null"> and delete_time &gt;= #{deleteTimeBegin}</if>
        <if test="deleteTimeEnd != null"> and delete_time &lt;= #{deleteTimeEnd}</if>
        <if test="isDeleted != null"> and is_deleted = #{isDeleted}</if>
        <!-- Like query -->
        <if test="RoleName != null and RoleName != ''"> and role_name like CONCAT(CONCAT('%', #{RoleName}), '%')</if>
        <if test="RoleDesc != null and RoleDesc != ''"> and role_desc like CONCAT(CONCAT('%', #{RoleDesc}), '%')</if>
        <if test="SuperRoleName != null and SuperRoleName != ''"> and superrole_name like CONCAT(CONCAT('%', #{SuperRoleName}), '%')</if>
    </sql>

    <select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
        select * from
        <include refid="t_role"/>
        <where>
            <include refid="condition_sql_nolike" />
        </where>
        order by id asc
    </select>

    <select id="listByLike" parameterType="java.util.Map" resultMap="beanMap">
        select * from
        <include refid="t_role"/>
        <where>
            <include refid="condition_sql_like" />
        </where>
        order by id asc
    </select>

    <select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
        select * from
        <include refid="t_role"/>
        <where>
            <include refid="condition_sql_nolike" />
        </where>
        order by id asc
        limit #{pageFirst} , #{pageSize}
    </select>

    <select id="listPageLike" parameterType="java.util.Map" resultMap="beanMap">
        select * from
        <include refid="t_role"/>
        <where>
            <include refid="condition_sql_like" />
        </where>
        order by id asc
        limit #{pageFirst} , #{pageSize}
    </select>

    <select id="listPageCount" parameterType="java.util.Map" resultType="long">
        select count(1) from <include refid="t_role"/>
        <where>
            <include refid="condition_sql_nolike"/>
        </where>
    </select>

    <select id="listPageCountLike" parameterType="java.util.Map" resultType="long">
        select count(1) from <include refid="t_role"/>
        <where>
            <include refid="condition_sql_like"/>
        </where>
    </select>
</mapper>