<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.AssassinG.scsycc.entitys.User.dao.UserGroupDaoImpl">

    <!-- 用户信息表 -->
    <sql id="t_usergroup"> t_usergroup </sql>

    <resultMap id="beanMap" type="UserGroup">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="usergroup_name" property="UserGroupName" />
        <result column="usergroup_desc" property="UserGroupDesc" />
        <result column="fathergroup_name" property="FatherGroupName" />
    </resultMap>

    <insert id="insert" parameterType="UserGroup" keyProperty="id" useGeneratedKeys="true">
        insert into <include refid="t_usergroup"/> (create_time, update_time, delete_time, is_deleted, usergroup_name, usergroup_desc, fathergroup_name)
        values (now(), now(), NULL, FALSE, #{UserGroupName}, #{FatherGroupDesc}, #{FatherGroupName})
    </insert>

    <insert id="batchInsert" parameterType="List" keyProperty="id" useGeneratedKeys="true">
        insert into <include refid="t_usergroup"/> (create_time, update_time, delete_time, is_deleted, usergroup_desc, fathergroup_name)
        values
        <foreach collection="list" item="obj" separator=",">
            (now(), now(), NULL, FALSE, #{obj.UserGroupName}, #{obj.UserGroupDesc}, #{obj.FatherGroupName})
        </foreach>
    </insert>

    <update id="update" parameterType="UserGroup">
        update <include refid="t_usergroup"/>
        <set>
            update_time = now(),
            usergroup_name =  #{UserGroupName},
            usergroup_desc =  #{UserGroupDesc},
            fathergroup_name = #{FatherGroupName}
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

    <update id="batchUpdate" parameterType="List">
        update <include refid="t_usergroup"/>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="list" item="item">
                    when id=#{item.id} then now()
                </foreach>
            </trim>
            <trim prefix="usergroup_name =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.UserGroupName!=null">
                        when id=#{item.id} then #{item.UserGroupName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="usergroup_desc =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.UserGroupDesc!=null">
                        when id=#{item.id} then #{item.UserGroupDesc}
                    </if>
                </foreach>
            </trim>
            <trim prefix="fathergroup_name =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.FatherGroupName!=null">
                        when id=#{item.id} then #{item.FatherGroupName}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="list" separator="or" item="item">
                id=#{item.id}
            </foreach>
        </where>
    </update>

    <update id="delete" parameterType="UserGroup">
        update <include refid="t_usergroup"/>
        <set>
            delete_time = now(),
            update_time = now(),
            is_deleted =  true
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

    <update id="deleteById" parameterType="long">
        update <include refid="t_usergroup"/>
        <set>
            delete_time = now(),
            update_time = now(),
            is_deleted =  true
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

    <select id="getById" parameterType="long" resultMap="beanMap">
        select * from <include refid="t_usergroup"/> where id = #{id}
    </select>

    <select id="listAll" resultMap="beanMap">
        select * from <include refid="t_usergroup"/> order by id
    </select>

    <sql id="condition_sql">
        <!-- Equal query -->
        <if test="createTimeBegin != null"> and create_time &gt;= #{createTimeBegin}</if>
        <if test="createTimeEnd != null"> and create_time &lt;= #{createTimeEnd}</if>
        <if test="updateTimeBegin != null"> and update_time &gt;= #{updateTimeBegin}</if>
        <if test="updateTimeEnd != null"> and update_time &lt;= #{updateTimeEnd}</if>
        <if test="deleteTimeBegin != null"> and delete_time &gt;= #{deleteTimeBegin}</if>
        <if test="deleteTimeEnd != null"> and delete_time &lt;= #{deleteTimeEnd}</if>
        <if test="isDeleted != null"> and is_deleted = #{isDeleted}</if>
        <!-- Like query -->
        <if test="UserGroupName != null and UserGroupName != ''"> and usergroup_name like CONCAT(CONCAT('%', #{UserGroupName}), '%')</if>
        <if test="UserGroupDesc != null and UserGroupDesc != ''"> and usergroup_desc like CONCAT(CONCAT('%', #{UserGroupDesc}), '%')</if>
        <if test="FatherGroupName != null and FatherGroupName != ''"> and fathergroup_name like CONCAT(CONCAT('%', #{FatherGroupName}), '%')</if>
    </sql>

    <select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
        select * from
        <include refid="t_usergroup"/>
        <where>
            <include refid="condition_sql" />
        </where>
        order by id desc
    </select>

    <select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
        select * from
        <include refid="t_usergroup"/>
        <where>
            <include refid="condition_sql" />
        </where>
        order by id desc
        limit #{pageFirst} , #{pageSize}
    </select>

    <select id="listPageCount" parameterType="java.util.Map" resultType="long">
        select count(1) from <include refid="t_usergroup"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

</mapper>