<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.AssassinG.scsycc.entitys.User.dao.UserRoleDaoImpl">

    <!-- 用户信息表 -->
    <sql id="t_userrole"> t_user_role </sql>

    <resultMap id="beanMap" type="UserRole">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="user_id" property="UserId" />
        <result column="role_id" property="RoleId" />
    </resultMap>

    <insert id="insert" parameterType="UserRole" keyProperty="id" useGeneratedKeys="true">
        insert into <include refid="t_userrole"/> (create_time, update_time, delete_time, is_deleted, user_id, role_id)
        values (now(), #{updateTime}, #{deleteTime}, #{isDeleted}, #{UserId}, #{RoleId})
    </insert>

    <insert id="batchInsert" parameterType="List" keyProperty="id" useGeneratedKeys="true">
        insert into <include refid="t_userrole"/> (create_time, update_time, delete_time, is_deleted, user_id, role_id)
        values
        <foreach collection="list" item="obj" separator=",">
            (now(), #{obj.updateTime}, #{obj.deleteTime}, #{obj.isDeleted}, #{obj.UserId}, #{obj.RoleId})
        </foreach>
    </insert>

    <update id="update" parameterType="UserRole">
        update <include refid="t_userrole"/>
        <set>
            update_time = now(),
            user_id =  #{UserId},
            role_id =  #{RoleId}
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

    <update id="batchUpdate" parameterType="List">
        update <include refid="t_userrole"/>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="list" item="item">
                    when id=#{item.id} then now()
                </foreach>
            </trim>
            <trim prefix="user_id =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.UserId!=null">
                        when id=#{item.id} then #{item.UserId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="role_id =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.RoleId!=null">
                        when id=#{item.id} then #{item.RoleId}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="list" separator="or" item="item">
                id=#{item.id}
            </foreach>
        </where>
    </update>

    <update id="delete" parameterType="UserRole">
        update <include refid="t_userrole"/>
        <set>
            delete_time = now(),
            update_time = now(),
            is_deleted =  true
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

    <update id="deleteById" parameterType="long">
        update <include refid="t_userrole"/>
        <set>
            delete_time = now(),
            update_time = now(),
            is_deleted =  true
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

    <select id="getById" parameterType="long" resultMap="beanMap">
        select * from <include refid="t_userrole"/> where id = #{id}
    </select>

    <select id="listAll" resultMap="beanMap">
        select * from <include refid="t_userrole"/> order by id
    </select>

    <sql id="condition_sql">
        <!-- Equal query -->
        <if test="createTimeBegin != null"> and create_time &gt;= #{createTimeBegin}</if>
        <if test="createTimeEnd != null"> and create_time &lt;= #{createTimeEnd}</if>
        <if test="updateTimeBegin != null"> and update_time &gt;= #{updateTimeBegin}</if>
        <if test="updateTimeEnd != null"> and update_time &lt;= #{updateTimeEnd}</if>
        <if test="deleteTimeBegin != null"> and delete_time &gt;= #{deleteTimeBegin}</if>
        <if test="deleteTimeEnd != null"> and delete_time &lt;= #{deleteTimeEnd}</if>
        <if test="isDeleted != null"> and is_deleted = #{isDeleted}</if>
        <if test="UserId != null"> and user_id = #{UserId}</if>
        <if test="RoleId != null"> and role_id = #{RoleId}</if>
    </sql>

    <select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
        select * from
        <include refid="t_userrole"/>
        <where>
            <include refid="condition_sql" />
        </where>
        order by id desc
    </select>

    <select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
        select * from
        <include refid="t_userrole"/>
        <where>
            <include refid="condition_sql" />
        </where>
        order by id desc
        limit #{pageFirst} , #{pageSize}
    </select>

    <select id="listPageCount" parameterType="java.util.Map" resultType="long">
        select count(1) from <include refid="t_userrole"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

</mapper>